<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="robots" content="index,follow">
    <meta content="{{image}}" 	property="og:url" >
    <meta content="Gif" 							property="og:title" >
    <meta content="Gif Description" 				property="og:description" >
    <meta content="{{image}}" 	property="og:image" >
    <meta content="video.other" 								property="og:type" >

    <title>Test Gif</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript">
    $( document ).ready(function() {
        $.post(
            'https://bot-generator-gif.herokuapp.com/',
            {
                id: 'https://bot-generator-gif.herokuapp.com/',
                scrape: true
            },
            function(response){
                console.log(response);
            }
        );

        setTimeout(function(){
            $.post(
                'https://bot-generator-gif.herokuapp.com/',
                {
                    id: 'https://bot-generator-gif.herokuapp.com/',
                    scrape: true
                },
                function(response){
                    console.log(response);
                }
            );


        },5000);
    });
    </script>

</style>
</head>
<body>

    <script>
    // window.fbAsyncInit = function() {
    //     FB.init({
    //         appId      : '295346677493959',
    //         xfbml      : true,
    //         version    : 'v2.7'
    //     });
    // };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_MX/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <p>
        <img src="{{image}}" alt="ahhh">
    </p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</body>
</html>
