<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="robots" content="index,follow">
    <meta content="{{image}}" 	property="og:url" >
    <meta content="Gif" 							property="og:title" >
    <meta content="Gif Description" 				property="og:description" >
    <meta content="{{image}}" 	property="og:image" >
    <meta content="video.other" 								property="og:type" >

    <title></title>

    <script type="text/javascript">
    setTimeout(function(){
        $.post(
            'hhttps://bot-generator-gif.herokuapp.com/',
            {
                id: 'http://bot-generator-gif.herokuapp.com/',
                scrape: true
            },
            function(response){
                console.log(response);
            }
        );

        $.post(
            'hhttps://bot-generator-gif.herokuapp.com/',
            {
                id: 'http://bot-generator-gif.herokuapp.com/',
                scrape: true
            },
            function(response){
                console.log(response);
            }
        );
    },5000);
    </script>

</style>
</head>
<body>
    <img src="{{image}}" alt="ahhh">
</body>
</html>
